<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  {% load static %}
  <link rel='stylesheet' href="{% static 'css/main.css' %}" type="text/css">
  <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}" type="text/css">
</head>
<body>
  <div class="panel">
		<h1 class="heading">Portfolio</h1>
		<h3 class="heading">Bondarenko Vladimir </h3>
			<p>IT professional who chose the path towards Python/Django developer</p>
  		<ul class="text-left">
  		  <li><b>Telephone:</b> +38(093) 516 - 18 - 85</li>
  		  <li><b>Email:</b> higbond91@gmail.com</li>
  		</ul>

	    <div class="row portfolio">
	      <div class="col-md-6">
	        <img src="{% static 'img/portfolio.jpg' %}" class="userAnketa" alt="Фото">
	      </div>
	      <div class="col-md-6">
	        <p class="left-text">Some of my projects:</p>
	        <ol class="text-left cl-effect-7">
	          <li><a href="https://budgrand.herokuapp.com/" title="Посетить сайт">Web blog on Django</a></li>
	          <li><a href="https://budgrand.herokuapp.com/" title="Посетить сайт">JavaScript website</a></li>
	          <li><a href="#" title="Посетить сайт">Django Shopping Site</a></li>
				<li><a href="https://github.com/Higbond/My-CV" title="Посетить сайт">My CV</a></li>
	        </ol>
	      </div>
	    </div>

	</div>
</body>
</html>
