<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  {% load static %}
  <link rel='stylesheet' href="{% static 'css/main.css' %}" >
  <link  href="{% static 'css/bootstrap.css' %}">
</head>
<body>
  <div class="panel">
		<h1 class="heading">Портфолио</h1>
		<h3 class="heading">Бондаренко Владимир Николаевич</h3>
			<p>ИТ-специалист, который выбрал путь в направлении Python разработчик.</p>
  		<ul class="text-left">
  		  <li><b>Телефон:</b> +38(093) 516 - 18 - 85</li>
  		  <li><b>Email:</b> higbond91@gmail.com</li>
  		</ul>

	    <div class="row portfolio">
	      <div class="col-md-6">
	        <img src="{% static 'img/portfolio.jpg' %}" class="userAnketa" alt="Фото">
	      </div>
	      <div class="col-md-6">
	        <p class="left-text">Некоторые из моих проектов:</p>
	        <ol class="text-left cl-effect-7">
	          <li><a href="#" title="Посетить сайт">JavaScript веб сайт</a></li>
	          <li><a href="#" title="Посетить сайт">Веб блог на Джанго</a></li>
	          <li><a href="#" title="Посетить сайт">Сайт с покупками Django</a></li>
	          <li><a href="#" title="Посетить сайт">Распознание текста«Голосовой помощник» Python</a></li>
	        </ol>
	      </div>
	    </div>

	</div>
</body>
</html>
